* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button, select, textarea {
    outline: none;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.l24 {
    line-height: 24px;
}

.l26 {
    line-height: 26px;
}

.l34 {
    line-height: 34px;
}

.w745 {
    width: 745px;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.wid440 {
    width: 440px;
}

.marr20 {
    margin-right: 20px;
}

.marlr40 {
    margin: 0 40px;
}

.padtb20 {
    padding: 20px 0;
}

.padtb25 {
    padding: 25px 0;
}

.padtb40 {
    padding: 40px 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.c333 {
    color: #333;
}

.c666 {
    color: #666;
}

.c999 {
    color: #999;
}

.e85308 {
    color: #fea526;
}

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cUl {
    padding: 10px 0;
}

.tac {
    text-align: center;
}

.tacs {
    text-align: left;
}

.secondTit {
    padding-top: 27px;
    line-height: 46px;
    border-bottom: 2px solid #99cc00;
}

.secondTit h1 {
    font-size: 20px;
    color: #333;
    letter-spacing: 4px;
}

.secondTit h1 span {
    color: #ddd;
    font-size: 18px;
    margin-left: 10px;
    font-weight: normal;
    letter-spacing: 0;
}

.page ul {
    display: inline-block;
}

.page ul li {
    float: left;
    line-height: 38px;
    margin: 0 6px;
}

.page li a:hover, .page li.on a {
    background: #99cc00;
    color: #fff;
    border: none;
}

.page li a {
    display: block;
    width: 38px;
    height: 38px;
    color: #666;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
}