@font-face {
  font-family: "iconfont"; /* Project id 3612387 */
  src: url('iconfont.woff2?t=1663325472341') format('woff2'),
       url('iconfont.woff?t=1663325472341') format('woff'),
       url('iconfont.ttf?t=1663325472341') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e695";
}

.icon-huidaodingbu:before {
  content: "\e631";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-tiwen:before {
  content: "\e7bf";
}

.icon-gerentouxiang:before {
  content: "\eb24";
}

.icon-wenjiansousuo:before {
  content: "\e640";
}

.icon-zhuanjiafudao:before {
  content: "\e638";
}

.icon-xinxi:before {
  content: "\e6be";
}

.icon-dianhualianxifangshi:before {
  content: "\e609";
}

.icon-zhuanjiadayibeifen:before {
  content: "\e603";
}

.icon-zaixiankefu:before {
  content: "\e65a";
}

.icon-dayi:before {
  content: "\e60d";
}

.icon-sousuo1-copy:before {
  content: "\e60c";
}

